$letra-chica: 1rem;
$letra-mediana: 1.5rem;
$letra-grande: 2rem;
$letra-pesada: 200;
$color-font-default: white;
$color-font-black: black;
$color-font-red: red;
$color-oro: gold;
$fuente: 'Trebuchet MS';
$justify: center;
$align: center;
